.nav > li > a {
    padding: 0px 15px;
}

label {
    margin-top:5px;
    margin-bottom: 0px;
}

.breadcrumb{
    margin-bottom: 0px;
}

.carousel-caption {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;

    padding-bottom: 0px;
    padding-top: 0px;
    background-color: rgba(52, 52, 52, .5);
    z-index: 10;

    text-align: left;
}





