<div class="container" ng-controller="bsdemoCtrl">
    <div class="row">
        <div class="col-sm-8 col-xs-8" style="padding:0px;">
            <h3>EASY-PANEL</h3>


            <pagination-grid gridId="firstGrid" check-on-select="true" columns="firstGridColumns" ng-model="firstGridData" api="firstGridApi" options="firstGridOptions" on-load="firstGridOnLoad()"  />

        </div>
    </div>

    <!--<div class="row" >-->
        <!--<div class="col-sm-8 col-xs-8" style="padding:0px;">-->
            <!--<h3>EASY-PANEL</h3>-->

            <!--<easy-panel title="EasyUI Panel" style="width:200px;" body-style="height:100px;background-color:white;">-->
                <!--<div>-->
                    <!--<p>content</p>-->
                    <!--<p>content</p>-->
                    <!--<p>content</p>-->
                    <!--<p>content</p>-->
                    <!--<p>content</p>-->
                    <!--<p>content</p>-->
                    <!--<p>content</p>-->
                    <!--<p>content</p>-->
                <!--</div>-->
            <!--</easy-panel>-->

            <!--<h3>EASY-DIALOG</h3>-->
            <!--<button ng-click="showEasyDialog($event)">showEasyDialog</button>-->

            <!--<h3>EASY-DIALOG:Z-INDEX</h3>-->
            <!--<button ng-click="showMultiEasyDialog($event)">showEasyDialog</button>-->
        <!--</div>-->

    <!--</div>-->


</div>
