<div class="container" ng-controller="mainCtrl">
    <div class="row">
        <div class="col-sm-8 col-xs-8" style="padding:0px;">
            <carousel interval="carousel.interval" no-wrap="carousel.nowrap">
                <slide ng-repeat="slide in carousel.slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;cursor:pointer;width:100%;" ng-click="onSlideClick(slide)">

                    <div class="carousel-caption">
                        <span>{{slide.text}}</span>
                    </div>
                </slide>
            </carousel>
        </div>
        <div class="col-sm-4 col-xs-4" style="margin:15px 0px; padding-right:0px;">
            <form class="borderWithRadius">
                <table cellpadding="10" cellspacing="10" style="width:100%">
                    <tr style="text-align:center;height:40px;">
                        <td>Login</td>
                    </tr>
                    <tr>
                        <td style="padding:10px 20px;">
                            <div comp-hori caption="name:" caption-width="80px">
                                <text-field name="name" ngModel="user.name"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px 20px;">
                            <div comp-hori caption="password:" caption-width="80px">
                                <password-field name="password" ngModel="user.password"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:10px 20px;">
                            <div comp-hori caption="captcha:" caption-width="80px">
                                <captcha-field name="captcha" ngModel="user.captcha"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="display:flex; padding:10px 20px;">
                            <label><input type="checkbox" ng-model="user.rememberMe" ng-false-value="0" ng-true-value="1"/>&nbsp;&nbsp;记住用户&nbsp;&nbsp;</label>

                            <div style="flex:1"></div>
                            <button class="btn btn-default">login</button>
                            <div style="flex:1"></div>
                            <button class="btn btn-default">Register</button>
                            <div style="flex:1"></div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

</div>